<div id="header">
<h1>Interesting Tidbits!</h1>
</div>

<div id="forms">
<form id="number" action="tidbits/index" method="get">
	Write a number: <input type="text" id="user_number" name="number">
	<input type="submit" value="Submit">
</form>


<form id="name" action="tidbits/index" method="get">
	Your first name: <input type="text" id="first_name" name="first_name"><br>
	Your last name: <input type="text" id="last_name" name="last_name">
	<input type="submit" value="Submit">
</form>
</div>

<br>

<div id="container_of_results">
	<!-- remember to insert p's and breaks! -->

</div>